#footer {
    background-color: rgb(155, 159, 153);
    padding: 0 0 40px;
    width: auto;
    height: fit-content;
    display: flex;
  }
  
  #footer1, #footer2, #footer3 {
    text-align: left;
    padding: 0 0 0 50px;
    color: white;
    font-family: serif;
    font-style: italic;
  }
  
  .footer-links {
    font-family: serif;
    font-style: italic;
    font-size: larger;
    text-align: left;
    padding: 10px 0 0 50px;
    color: #000;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
  }